
body {font-family: Arial;
	font-size: 20px;}
body,ul {margin: 0;
		padding: 0;
		list-style: none;}
.warp{width: 700px;
		height: 200px;
		margin:50px auto;
		background: rgb(255,255,255);
	  }
.warp h1{fontsize:20px;
		color: rgb(0,0,0);
		text-align:center;
		line-height:200px;
	    }
.effect {
		 position:relative;
		box-shadow:0px 1px 4px rgba(0,0,0,0.4), 0px 0px 40px rgba(0,0,0,0.13) inset;
		-webkit-box-shadow:0px 1px 4px rgba(0,0,0,0.4),0px 0px 40px rgba(0,0,0,0.13) inset;
		-moz-box-shadow:10px 10px 30px rgba(0,0,0,0.1),20px 40px 10px rgba(0,0,0,0.2) inset;
		-o-box-shadow:10px 10px 30px rgba(0,0,0,0.1),20px 40px 10px rgba(0,0,0,0.2) inset;
	    }
.effect:after,.effect:before{
			content:'';
			position:absolute;
		    background-color: rgb(255,255,255);
		    z-index:-1;
		    top:50%;
		    left:10px;
		    bottom:0;
		    right:10px;
		    -webkit-box-shadow:0px 0px 10px rgba(0,0,0,0.6);
		    box-shadow:0px 0px 10px rgba(0,0,0,0.6);
				-webkit-border-radius:100px/10px;
				border-radius:100px/10px;

}
.li{
	  width: 700px;
		height: 200px;
		margin:50px auto;
		background: rgb(255,255,255);
	  }
.li h1{
	  fontsize:20px;
		color: rgb(0,0,0);
		text-align:center;
		line-height:200px;
	    }
.ffect{
					position:relative;
					box-shadow:0px 1px 4px rgba(0,0,0,0.4), 0px 0px 40px rgba(0,0,0,0.13) inset;
					-webkit-box-shadow:0px 1px 4px rgba(0,0,0,0.4),0px 0px 40px rgba(0,0,0,0.13) inset;
					-moz-box-shadow:10px 10px 30px rgba(0,0,0,0.1),20px 40px 10px rgba(0,0,0,0.2) inset;
					-o-box-shadow:10px 10px 30px rgba(0,0,0,0.1),20px 40px 10px rgba(0,0,0,0.2) inset;
				    }
.ffect:after,.effect:before {
									content:'';
									position:absolute;
								    background-color: rgb(0,0,0);
								    z-index:-1;
								    top:50%;
								    left:10px;
								    bottom:0;
								    right:10px;
								    -webkit-box-shadow:0px 0px 10px rgba(0,0,0,0.6);
								    box-shadow:0px 0px 10px rgba(0,0,0,0.6);
										-webkit-border-radius:100px/10px;


						}
	.box{width:980px;
		height:auto;
		clear:box;
		overflow:hidden;
		margin:20px auto;
		}
		.box li{width:300px;
		 background:transparent;
			height:300px;
			position:relative;
			float:left;
			margin:20px 10px;
			border:2px solid rgb(255,255,255);
			box-shadow:0 1px 4px rgba(0,0,0,0.1),0 0 60px rgba(0,0,0,0.1)inset;

		}
		.box li img{
			display:block;
			width:290px;
			height:300px;
			margin:5px;

		}
		.box li:before{
			content:'';
			position:absolute;
			z-index:-3;
			width:90%;
			height:80%;
			left:20px;
			bottom:15px;
			background:transparent;
box-shadow:0 8px 20px rgba(0,0,0,0.6);
transform:skew(-6deg) rotate(-4deg);
		}
		.box li:after{
			content:'';
			position:absolute;
			z-index:-3;
			width:90%;
			height:80%;
			right:18px;
			bottom:15px;
			background:transpartent;
		box-shadow:0 8px 20px rgba(0,0,0,0.6);
		transform:skew(8deg) rotate(4deg);
		}
